{% extends "network/layout.html" %} {% block body %}

<div id="login-page">
	{% if message %}
	<div>{{ message }}</div>
	{% endif %}

	<section id="login-form">
		<h1>Login</h1>

		<h6>
			Don't have an account?
			<a href="{% url 'register' %}"><strong>Register here.</strong></a>
		</h6>
		<form action="{% url 'login' %}" method="post">
			{% csrf_token %}
			<div>
				<input autofocus type="text" name="username" placeholder="Username" />
			</div>
			<div>
				<input type="password" name="password" placeholder="Password" />
			</div>
			<button type="submit">Login</button>
		</form>
	</section>
</div>

{% endblock %}
