<!--extend layout-->
{% extends 'network/layout.html' %}

<!--block body-->
{% block body %}
<div id="profile-page">
	<section id="profile">
		<div class="profile-picture">
			<img src="{{ profile.profile_picture_url }}" />
		</div>
		<div class="username">{{profile.username}}</div>

		{% if user.is_authenticated and user.id != profile.id %}
		<div class="follow-toggle-box">
			{% if not following %}
			<button id="follow-toggle" data-following="false">Follow</button>
			{% else %}
			<button
				id="follow-toggle"
				class="follow-toggle-true"
				data-following="true"
			>
				Unfollow
			</button>
			{% endif %}
		</div>
		{% endif %}
		<div class="stats">
			<div>Followers <span id="followers-count">{{followers_count}}</span></div>
			<div>Following <span>{{following_count}}</span></div>
		</div>
	</section>

	<section id="posts">
		{% if user.is_authenticated and user.id == profile.id %}
		<h1>Your Posts</h1>
		{% else %}
		<h1>{{profile.username}}'s Posts</h1>
		{% endif %}
		<!--Posts start-->
		{%if not posts_page%} {%if user.is_authenticated and user.id == profile.id%}
		<div>You have not posted yet.</div>
		{%else%}
		<div>{{profile.username}} has not posted yet.</div>
		{%endif%} {%else%} {%load inclusiontag%} {%display_posts%} {%endif%}
	</section>
</div>

{% endblock %}
