<!--extend layout-->
{% extends 'network/layout.html' %}

<!--block body-->
{% block body %}
<div class="profile-card">
	<div class="top">
		<div class="username">{{profile.username}}</div>

		{% if user.is_authenticated and user.id != profile.id %}
		<div class="follow-toggle-box">
			{% if not following %}
			<button id="follow-toggle" data-following="false">Follow</button>
			{% else %}
			<button
				id="follow-toggle"
				class="follow-toggle-true"
				data-following="true"
			>
				Unfollow
			</button>
			{% endif %}
		</div>
		{% endif %}
	</div>
	<div>Followers: <span id="followers-count">{{followers_count}}</span></div>
	<div>Following: {{following_count}}</div>
</div>
<div>{% load inclusiontag %} {% display_posts %}</div>
{% endblock %}
